<!DOCTYPE html>
<html>
   <head>
        
       <%- include('bootstrap') %>
       
      <title><%= title %></title>
   </head>
   <body>
       
           
        <div class="container my-4">
            <h1 class="text-left mb-4"> DATA KARYAWAN </h1>
            <div class="row">
                
               <!-- tombol adding user -->
               <div class="col-sm-2">
                   <a href="/add" class="btn btn-primary"><i class="fas fa-plus"></i>ADD</a>
               </div>
               <div class="col-sm-2">
                   <a href="/update" class="btn btn-warning"><i class="fas fa-edit"></i>EDIT</a>
               </div>
               
               <!-- tombol search user -->
               <div class="col-auto">
                   <form method="post" action="/">
                        <div class="row">
                            <div class="col-auto">
                                <input type="text" name="getDataUser" class="form-control" aria-label="search user" required aria-describedby="basic-addon2">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit">Search </button>
                            </div>
                        </div>
                   </form>
               </div>         
            </div>             
            
            <% if (hasil) { %>
               <table class="table table-hover my-4">
                   <thead>
                     <tr>
                       <th scope="col">ID</th>
                       <th scope="col">NAMA</th>
                       <th scope="col">UMUR</th>
                       <th scope="col">ACTION</th>
                     </tr>
                   </thead>
                   <tbody>
                    
                    <% hasil.forEach((data) => { %>
                     <tr class="justify-content-center align-items-center">
                       <th scope="row"><%= data.id %></th>
                       <td><%= data.nama %></td>
                       <td><%= data.umur %></td>
                     
                       <td>
                          <div class="row gap-2">

                              <div class="col-auto">
                                    <a onclick="removeData()" class="btn btn-danger">REMOVE</a>
                              </div>
                          </div>
                       </td>
                     </tr>
                    <% }) %>
                   </tbody>
                </table>
            <% } %>
            
        
        </div>
   </body>
</html>