<!DOCTYPE html>
<html>

<head>
    <%- include('bootstrap') %>
   <title><%= title %></title>
</head>

<body>
   <div class="container mt-5">
       <h1>TAMBAH DATA KARYAWAN</h1>

       <form class="form" method="post" action="/add">
           
           <!-- kolom umur -->
            <div class="mb-3">
               <label for="kolomNama" class="form-label">NAMA LENGKAP</label>
               <input type="text" 
                      id="kolomNama"
                      name="nama" 
                      class="form-control
                        <% if (errMsgNamaInput ) { %> 
                            <%= errMsgNamaInput %>
                        <% } %>"
                >
               <div id="kolomNama" 
                   class="invalid-feedback
                        <% if (errMsgNama) { %> 
                            <%= errMsgNama %>
                        <% } else { %> 
                            d-none
                        <% } %>">
                    kolom nama tidak boleh kosong !!
                </div>
            </div>
            
            <!-- kolom umur -->
            <div class="mb-3">
               <label for="kolomUmur" class="form-label">UMUR</label>
               <input 
                    max="30"
                    type="number" 
                    name="umur" 
                    id="kolomUmur"
                    class="form-control
                        <% if (errMsgUmurInput ) { %> 
                            <%= errMsgUmurInput %>
                        <% } %>"
                >                    
               <div id="kolomUmur"
                   class="invalid-feedback 
                        <% if (errMsgUmur) { %>
                            <%= errMsgUmur %>
                        <% } else { %>
                            d-none
                        <% } %> ">
                   kolom umur tidak boleh kosong !!
               </div>
            </div>
        
            <button type="submit" class="btn btn-primary">Kirim</button>
       </form>
      
   </div>

</body>

</html>